<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NWS_Alerts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <NWS_Alerts.Properties.Settings>
            <setting name="ShowTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowOpacity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="LatValue" serializeAs="String">
                <value>37.21</value>
            </setting>
            <setting name="LongValue" serializeAs="String">
                <value>-93.29</value>
            </setting>
            <setting name="UseAccentBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreAlerts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Flood</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AlertFeedUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="SetState" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowCounties" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="MuteToast" serializeAs="String">
                <value>False</value>
            </setting>
        </NWS_Alerts.Properties.Settings>
    </userSettings>
</configuration>
